*{
    margin: 0;
    padding: 0;
    list-style: none;
}
header{
    background-color:#bfac8b;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header nav ul {
    display: flex;
}
header nav ul li{
    list-style: none;
    margin-right: 10px;
}
header nav ul li a{
    text-decoration: none;
    color:black ;
}
header img{
    width: 100px;
    height: auto;
}
.sessão-01{
    background-image:url(imagem/basketball-95607_1280.jpg) ;
    padding: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
}

.sessão-01 button{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color:rgba(255, 98, 0, 0.809);
}

.sessão-02{
    background-color: rgb(254, 253, 253);
    display: flex;
    padding: 250px;
    align-items: center;
    justify-content: space-evenly;
}
.sessão-02 h2{
    color: rgb(0, 0, 0);
    display: flex;
    text-align: center;
    font-size: 20px;
    font-weight: 20px;
}
.sessão-02 p{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 20px;
    text-align: left;
  
}
.sessão-02 img{
    width: 300px;
    height: auto;
}
.sessão-03{
    background-image: url(imagem/basketball-108622_1280.jpg);
    background-attachment: fixed;
    padding: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
}
.sessão-03 h2{
    color: #e2e269;
 
}
.sessão-03 p{
    color: #e2e269;
    font-size: 20px;
    font-weight: 20px;
    align-items: center;
}

 footer{
    background-color: black;
    padding: 15px;
    justify-content: space-evenly;
    display: flex;
 }
 footer nav ul{
    display: flex;
 }
 footer nav ul li{
    list-style: none;
    margin: 10px;
 }

 footer nav ul li a{
    text-decoration: none;
    color: white;
 }
